body{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #444;
  letter-spacing: 1px;
}

#wrapper{
  width: 90%;
  max-width: 960px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
  box-sizing: border-box;
  padding: 0 0 20px;
  overflow: hidden;
  border: 1px solid lightgray;
}

#wrapper h2 {
  font-size: 25px;
  font-weight: 400;
}

#page-banner{
  background: #eee ;
  padding: 10px 0;
}

#page-banner h1, #page-banner p{
  width: 100%;
  color: #E76F51;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin: 10px 0;
}

#page-banner input{
  width: 90%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #444;
}

#book-list, #add-book, #tabbed-content{
  margin: 30px;
}

#book-list .writtenBy {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;;
}

#book-list ul, #tabbed-content ul{
  list-style-type: none;
  padding: 0;
}

#book-list li{
  padding: 20px;
  font-size: 18px;
  border-left: 5px solid #ddd;
  margin: 20px 10px;
}

#book-list li:hover{
  border-color: #F4A261;
}

.delete{
  float: right;
  background: #E9C46A;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.delete:hover{
  background: #333;
}

#add-book{
  width: 600px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

#add-book input{
  margin: 0 10px;
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  width: 300px;
  height: 30px;
  clear: both;
}

#add-book button{
  border: 1px solid #2A9D8F;
  background: #2A9D8F;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  color: white;
}

#add-book:after{
  content: '';
  display: block;
  clear: both;
}

#add-book #hide{
width: 30px;
}

#add-book label{
line-height: 52px;
}

#tabbed-content li{
  display: inline-block;
  padding: 10px 14px;
  
  background: #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

#tabbed-content .panel{
  display: none;
  border: 1px solid #ddd;
  font-weight: 400;
  padding: 0 10px;
  border-radius: 4px;
}

#tabbed-content .panel.active{
  display: block;
}